<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Exams Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>
	<div class="container">
		<h1>Exam Form</h1>
		<hr>
		<h2>Update Exam</h2>

		<form action="#" th:action="@{/saveExam}" th:object="${exam}"
			method="POST">
			
			<input type="hidden" th:field="*{Id}">
				<label>Subject Id:</label>
				<input type="text" th:field="*{subj}" class="form-control mb-4 col-4">
				<label>Student Id:</label>
				<input type="text" th:field="*{stud}" class="form-control mb-4 col-4">
				<label>Room :</label>
				<input type="text" th:field="*{room}" class="form-control mb-4 col-4">
				<label>Date :</label>
				<input type="text" th:field="*{date}" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Update Exam</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/exams}"> Back to Exams List</a><hr>
		<a th:href = "@{/}"> Back to Home Page</a>
	</div>

</body>
</html>